.header{
  margin-top: 36px;
}
.header_title{
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  text-align: center;

}