// Variable color
$color_default: #1698D9;
$color_default__hover: #2EA8E6;
$color_selected: #D91667;
$color_selected__hover: #E52E7A;
$color_disabled: #B3B3B3;
$color_grey: #666666;
$color_white: #FFFFFF;


.packing_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.packing {
  display: flex;
  flex-direction: row;

  @media (max-width: 1024px) {
    justify-content: center;
    flex-wrap: wrap;


  }
  @media (max-width: 720px) {
    justify-content: center;
    flex-direction: column;


  }

  &_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 509px;
    margin-top: 24px;
    background-color: $color_white;
    margin-left: 40px;
    border-radius: 10px;
    border: 5px solid $color_default;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    overflow: hidden;
    cursor: pointer;


  }


  &_info__block {
    min-height: 33%;
  }


  &_tagline {
    color: $color_grey;
    padding-left: 51px;
    margin-top: 21px;
  }



  &_title {
    margin-top: 5px;
    padding-left: 48px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  &_topping {
    padding-left: 48px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

  }

  &_portion {
    margin-top: 15px;
    padding-left: 48px;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $color_grey;
  }

  &_bonus__container {
    display: flex;
    flex-direction: row;
    color: $color_grey;
    z-index: 2;
  }

  &_bonus__quantity {
    padding-left: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

  }

  &_bonus {
    flex-direction: row;
    padding-left: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

  }

  &_comment {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $color_grey;
    padding-left: 48px;
    margin-bottom: -10px;
  }

  &_cat {
    width: 125%;
    padding-top: 50px;
    margin-left: -30px;

  }

  &_visualBlock {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  &_volume__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    bottom: 115px;
    margin-left: 230px;
    position: absolute;
    width: 80px;
    height: 80px;
    background: $color_default;
    color: $color_white;

  }

  &_volume {
    padding-top: 10px;
    font-weight: 400;
    font-size: 42px;
    line-height: 22px;
    color: $color_white;


  }

  &_volume__box span {
    font-size: 24px;
    margin-top: 7px;
  }
}

.packing_description {

  margin-top: 14px;
  margin-left: 80px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: $color_white;

  & a {

    padding-left: 5px;
    color: $color_default;
    cursor: pointer;
  }
}

.activeSelected {
  border: 5px solid $color_selected;

}

.volume_box__active {
  background: $color_selected;
}

.defaultHover:hover {
  border: 5px solid $color_default__hover;
}

.defaultHover:hover .packing_volume__box {
  background: $color_default__hover
}

.selectedHover {
  border: 5px solid $color_selected__hover;
}

.volume_boxHover__active {
  background: $color_selected__hover;
}

.packing_tagline__hover {
  color: $color_selected__hover;
}

.volume_box__disabled {
  background: $color_disabled;

}

.disabled_border__color {
  border: 5px solid $color_disabled;
  color: $color_disabled;
}

.disabled_description__color {
  color: #FFFF66;
}

.cat__disabled {
  opacity: 50%;

}

.disabled_text__color {
  color: $color_disabled;
}

